PatientSchema/PaymentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.antoinegoncalves.com/Patient"
    xmlns:tns="http://www.antoinegoncalves.com/Patient"
    elementFormDefault="qualified">
    <complexType name="PaymentType">
        <choice>
            <element name="cash" type="decimal"/>
            <element name="insurance" type="tns:Insurance"/>
        </choice>
    </complexType>

    <complexType name="Insurance">
        <all>
            <element name="provider" type="string"/>
            <element name="limit" type="int"/>
        </all>
    </complexType>
</schema>